
.invisible {
    display: none;
    visibility: hidden;
}

div.serif{font-family:"Times New Roman",Times,serif;}
div.sansserif{font-family:Arial,Helvetica,sans-serif;}

/* div#debug {visibility:hidden; display:none; style="font: bold 40%;"} */

div#testButton {visibility:hidden; display: none;}

div#SayIt { visibility:hidden}

div#container {width: 1024px; }
div#header {clear: both; color:#FFA500;}
div#content {width:1024px; height: 600px; float: left;}
div#time_client {width: 100%}
div#bottom_part {width: 100%; clear:both;}
/*div.content {background-color:#EEEEEE;height:800px;width:600px;float:left;}
*/
div.menu {"font-size:80%; float:right; clear:both; }

div.rowOn  {

    float: left;
    width: 100%;
    height: 16%;
    color: yellow;
    background-color: yellowgreen;
}
div.rowOff {

    float: left;
    width: 100%;
    height: 16%;
    background-color: ghostwhite;
}

input.btnOn {color:darkred; font: bold 150%'trebuchet ms',helvetica,sans-serif;
    float:left;
    margin: 0.5%;
    border-color: ghostwhite;
    background-color: ghostwhite;
    width: 15%; height: 15%;
}

input.btnOff {color:darkblue; font: bold 150%'trebuchet ms',helvetica,sans-serif;
    float:left;
    margin: 0.5%;
    border-color: ghostwhite;
    background-color: ghostwhite;
    width: 15%; height: 15%;
}

input.menuButtons {
    color:royalblue; font: bold 100%'trebuchet ms',helvetica,sans-serif;
    margin: 6px 0px 4px 8px;
    width: 20%; height:25px;
    border-color: lightcyan;
    background-color: lightcyan;
}

input#pauseButton {
    color:red;
}
input#testButton {
    color:red;
    display: none; visibility: hidden;
}

div#timeDisplay {color:royalblue; font: bold 90%'trebuchet ms',helvetica,sans-serif;}
div#clientTxt {color:royalblue; font: bold 200%'trebuchet ms',helvetica,sans-serif;}


